/* Main Combined Section Styling */
.combined-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #520907;
  padding: 2rem;
}
.grow-left img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
}
/* Features Section Styling */
.features-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; /* Center-align items for better layout */
}

.features-section .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  flex: 1;
  gap: 1rem;
}

.features-section .left h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.card{
    padding: 0;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 300px;
    height: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .features-section .left {
    text-align: left;
    align-items: flex-start;
    padding: 0 2rem;
  }
}

/* Right Section Styling */
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex: 2;
}

.right .card {

}

.right .card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.right .card:hover img {
  transform: scale(1.1);
}

.right .card__content {
  padding: 1rem;
  text-align: center;
}

.right .card__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-top: 0.5rem;
}

/* Grow Section Styling */
.grow-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .grow-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.grow-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow-left img {
  display: none;
}

.grow-right {
  flex: 1;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.grow-right h1 {
  font-size: 2.5rem;
}

/* Button Styling */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.subb {
  width: fit-content;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ff0f7b;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}
.subb a {
  color: #fff;
}

.subb:hover {
  background-color: #f89b29;
}

@media (max-width: 768px) {
  .subb {
    font-size: 1.2rem;
  }
}

/* Text Section Styling */
span p {
  font-size: 1rem;
  background-color: rgba(7, 9, 82, 0.35);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  span p {
    text-align: left;
  }
}
